.container {
  margin: 1rem auto;

  a {
    display: block;
    
    &:last-child {
      margin-bottom: 3rem;
    }

    & + a {
      margin-top: 3rem;
    }

    h1 {
      color: var(--heading);
      font-size: 1.75rem;
      font-weight: 700;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      margin-top: 0.35rem;
    }

    ul {
      display: flex;
      list-style: none;
      margin-top: 1.5rem;
  
      li {
        font-size:0.875rem;
  
        svg {
          margin-right: 0.5rem;
        }
  
        & + li {
          margin-left: 1.625rem;
        }
      }
    }
  }

  button {
    border: 0;
    background: transparent;
    color: var(--highlight);
    font-size: 1.125rem;
    font-weight: 600;
  }
}